<div id="<%= dom_id article %>" class="col">
  <div class="card shadow-sm">

   <%- if article.preview_img.present? %>
    <%= image_tag article.preview_img %>
   <% else %>
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
         <title><%= article.title %></title>
         <rect width="100%" height="100%" fill="#55595c"/>
         <text x="50%" y="50%" fill="#eceeef" dy=".3em">
          <%= article.title %>
         </text>
       </svg>
    <% end %>

    <div class="card-body">
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to "View", article, class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-sm btn-outline-secondary" %>
        </div>

        <script>
            console.log( <%= article.created_at.strftime("%d-%m-%Y").to_json.html_safe %>)
        </script>

        <small class="text-body-secondary"><%= time_ago_in_words(article.created_at) %></small>
      </div>
    </div>
  </div>
</div>
